/* Colors */
.forest{
    --bg: #000000;
    --col: #008000;
    --hi: #00c000;
}
.grey{
    --bg: #383838;
    --col: #b8beca;
    --hi: #6d6d6d;
}

.dark{
    --bg: #000;
    --col:#777;
    --hi: #fff;

}

.red {
    --bg: #641717;
    --col: #e66161;
    --hi: #fa6e55;
}
.pink {
    --bg: #ffe3f6;
    --col: #dd229f;
    --hi: #ff90e3;
}
.tree {
    --bg: #263a2b;
    --col: #1fcc4a;
    --hi: #7aec97;
}
.bsod{
    --bg: #00f;
    --col: #fff;
    --hi: #000;
}

@font-face {
    font-family: "Clacon";
    font-weight: normal;
    src: url("clacon2.ttf");
}

html {
    background-color: var(--bg);
    padding-left: 5%;
    padding-right: 5%;
    color: var(--col);
    font-family: Clacon;
    font-size: 20px;
    overflow-x: hidden;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    font-kerning: auto;
}

a {
    color: var(--bg);
    background-color: var(--col);
    text-decoration: none;
    font-weight: bolder;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

footer {
    float: left;
    height: 20px;
    width: 100%;
}

.title {
    text-align: center;
    font: "slab";
}

#subtext {
    display:flex;
    font-size: 50;

    animation-name: minecraft;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
    #movingtext {
        text-align: center;
        width: 200px;
        color:yellow;
        transform: translate(400px,-50px) rotate(-30deg);
    
    }
    @keyframes minecraft {
        0% {
            transform: scale(90%);
        }
        50% {
            transform: scale(120%);
        }
        100% {
            transform: scale(90%);
        }
    }

.container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}
    .breaker {
    display: none;
    }
        .breaker:nth-child(3n) {
        display: block;
        width: auto;
        height: 0;
        }

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
    /* Track */
    ::-webkit-scrollbar-track {
    background: var(--bg);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: var(--col);
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: var(--hi);
    }

.popup {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .hidden {
        visibility: hidden;
    }

#links {
    color: var(--bg);
    background-color: var(--col);
}