.dark{
    --bg: #383838;
    --col: #b8beca;
    --hi: #6d6d6d;
}

.red {
    --bg: #491616;
    --col: #e66161;
    --hi: #fa6e55;
}

.pink {
    --bg: #ffe8f8;
    --col: #ff64cb;
    --hi: #ff90e3;
}

body {
    background-color: var(--bg);
    padding-left: 10%;
    padding-right: 10%;
    color: var(--col);
    font-family: 'roboto', monospace;
}

a {
    color:currentColor;
    border-bottom: 1px dashed currentColor;
    text-decoration: none;
    
}

footer {
    float: left;
    height: 20px;
    width: 200px;
}

.title {
    text-align: center;
    font: "slab";
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}
.breaker {
display: none;
}
.breaker:nth-child(3n) {
display: block;
width: auto;
height: 0;
}

.dropdown {
    opacity:100;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--col);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--hi);
}