/* Colors */
.pink {
    --bg: #ffe3f6;
    --col: #dd229f;
    --hi: #ff90e3;
}
.red {
    --bg: #641717;
    --col: #e66161;
    --hi: #ffb4a7;
}
.green{
    --bg: #000000;
    --col: #008000;
    --hi: #00fd00;
}
.grey{
    --bg: #383838;
    --col: #b8beca;
    --hi: #575757;
}
.dark{
    --bg: #000;
    --col:#777;
    --hi: #fff;

}
.tree {
    --bg: #263a2b;
    --col: #0faf37;
    --hi: #98f7b0;
}
.bsod{
    --bg: #00f;
    --col: #fff;
    --hi: #000;
}
.blue{
    --bg: #004688;
    --col: #55bbf7;
    --hi: #b4edff;
}
.ipod{
    --bg: #cdd6e3;
    --col: #696996;
    --hi: #97a6b6;
}
.white{
    --bg: #fbfbfd;
    --col: #1d1d1f;
    --hi: #86868b;
}

/* later?
.rgb{
    --bg: #242424;
    --col: #4cae4c;
    --hi: #fff;
}
@keyframes rgb{
    0%{var(--col) :#4cae4c}
    20%{--col :#409eb5}
    40%{--col :#8134f4}
    60%{--col :#f10e19}
    80%{--col :#ffc505}
    100%{--col :#4cae4c}
};
*/

html {
    background-color: var(--bg);
    padding: 30px 5% 30px 5%;
    color: var(--col);
    font-family: 'VT323', monospace;

    overflow-x: hidden;
    display: block;
    font-size: 3vh;
    width: auto;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    font-kerning: auto;
}

a {
    padding: 2px 1px 1px 1px;
    color: var(--bg);
    background-color: var(--col);
    text-decoration: none;
    font-weight: bolder;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

footer {
    float: left;
    height: 20px;
    width: 100%;
}

pre{
    margin-top: 0%;
    margin-bottom: 0%;
}

hr{
    border-color: var(--col);
    border-style:dashed;
    border-width: 2px;
}

.title {
    text-align: center;
    font: "slab";
}

textarea {
    display: flex;
  }

#type-area{
    white-space: nowrap;
    position: relative;
    width: 100%;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto; 
    outline: none;
}
  
select, form, input{
    font:inherit;
    color: inherit;
    background-color: var(--bg);
    height: auto;
    padding-top: 5px;
    border-color: var(--col);
    white-space: none;
}

::-moz-selection {
    color: var(--hi);
    background: var(--col);
}
::selection {
    color: var(--hi);
    background: var(--col);
}


#subtext {
    display:flex;
    font-size: 50;

    animation-name: minecraft;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
    #movingtext {
        text-align: center;
        width: 200px;
        color:var(--hi);
        transform: translate(250px,-50px) rotate(-20deg);
    
    }
    @keyframes minecraft {
        0% {
            transform: scale(90%);
        }
        50% {
            transform: scale(120%);
        }
        100% {
            transform: scale(90%);
        }
    }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
/*credit to blowsie on stackoverflow*/
    }

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 15px;
}
    /* Track */
    ::-webkit-scrollbar-track {
    background: var(--bg);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: var(--col);
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: var(--hi);
    }

#links {
    color: var(--bg);
    background-color: var(--col);
}

#leaf{
    display: flexbox -ms-flexbox -webkit-flex;
    max-width: 0.8vw;
    font-size: 1.5vh;
}


.gallery {
  background-color: var(--col);
  float: left;
  width: 180px;
  max-width: 180px;
  height: 180px;
  max-height: 180px;
  margin: 0 20px 20px 0;
  border: 2px solid var(--col);
}

.gallery:hover {
  background-color: var(--hi);
  border: 2px solid var(--hi);
}

.gallery img {
    width: 300px;
    height: 300px;
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-link {
    background: none;
    background-color: transparent;
    width: 0;
    height: 0;
}

.flag {
    background: rgb(29,101,214);
    background: linear-gradient(90deg, rgb(0, 62, 161) 33%, rgb(255, 255, 255) 34%, rgb(255, 255, 255) 66%,rgb(187, 9, 9) 67%);
    color:inherit
}

 /* end */